.home-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 50px;
    font-weight: 900;
    font-family: 'Poppins',sans-serif;
    padding-top: 10px;
}
.card{
    border-radius: 20px;
    width: 18rem;
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);

}

.card-img-top{
    border-radius: 20px;
    height: 17rem;
}

.description{
    font-size: 20px;
}
.price{
    font-size: 20px;
}